<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>{{ title }}</title>
	<link rel="stylesheet" type="text/css" href="/css/general.css">
	{% if extrastyle %}<link rel="stylesheet" type="text/css" href="/css/{{extrastyle}}" />{% endif %}
	<link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
	<meta name="description" content="{{ subhede }}">
	<meta name="keywords" content="CERN, WorldWideWeb, Tim Berners-Lee">
	<meta name="author" content="CERN">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@cern">
	<meta name="twitter:creator" content="@cern">
	<meta name="twitter:title" property="og:title" content="{{ title }}">
	<meta name="twitter:description" property="og:description" content="{{ subhede }}">
	<meta name="twitter:image" property="og:image" content="https://worldwideweb.cern.ch/images/colophon/thegroup.jpg">

	{% block extrahead %}  {% endblock %}
</head>

<body>
	<header>

		<a href="/browser" class="button" target="_blank" rel="noopener">Launch WorldWideWeb</a>

		<h1>{{ title }}</h1>
		{% if subhede %}<h2>{{ subhede }}</h2>{% endif %}

		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/history/">History</a></li>
				<li><a href="/timeline/">Timeline</a></li>
				<li><a href="/worldwideweb/">The Browser</a></li>
				<li><a href="/typography/">Typography</a></li>
				<li><a href="/code/">Inside the Code</a></li>
				<li><a href="/production/">Production Process</a></li>
			</ul>
		</nav>
	</header>

	<main role="main"{% if gridclass %} class="{{ gridclass }}"{% endif %}>

    {{ content | safe }}

  </main>

<footer>
	<div class="cernlogo"><a href="https://cern.ch/"><img src="/images/colophon/cern_logo_bw.png" alt="CERN" /></a></div>
	<nav>
		<ul>
			<li><a href="/colophon/">Colophon</a></li>
			<li><a href="/related/">Related Links</a></li>
		</ul>
	</nav>
	<p>&copy; 2019 CERN</p>
	<ul class="palette">
		<li></li>
		<li></li>
		<li></li>
		<li><a href="/images/wow.jpg"><span>Surprise</span></a></li>
	</ul>

</footer>
</body>
</html>
