---
layout: baselayout
title: Production Details — WorldWideWeb NeXT Application
subhede: The behind the scenes look at how the WorldWideWeb was rebuilt
---

<figure class="fullbleed">
	<img src="/images/production/everyone.jpg" />
</figure>

<section>

	<h3>Digital Archeology</h3>

	<p>On our first day, we established the following principles to guide the work
		that we did:</p>

	<ul>
		<li>Build something that would convey a user's experience, if they were on a
			NeXT Computer in 1991.</li>
		<li>Demonstrate the browser-editor capabilities of WorldWideWeb.</li>
		<li>Tell the story of what was going on in the world of hypertext/hypermedia
			at the time.</li>
		<li>We were able to leverage some of the code written during the Line Mode
			Browser project, including the Node proxy server and some of the CSS. Like
			that project, we decide to replicate the interface as much as possible,
			including fonts and a grayscale display.</li>
	</ul>

	<p>Because WorldWideWeb ran in a graphical user interface (GUI) environment, we
		felt it was important to emulate that experience as well, including the
		windowing and various tools that make up the experience.</p>

	<p>With the <a href="/browser/">emulator we build</a>, you can browse the web
		(modern web sites as well as old markup). The editor functionality works and
		stores to the browser's web storage. (Thanks modern web technologies!)</p>

	<p>For an optimal experience, load the WorldWideWeb emulator and enter
		full-screen mode.</p>

	<hr>

	<p>But before cobbled together our simulator, we were vexed! How do we pull
		apart the old WorldWideWeb browser to best emulate it in a contemporary
		browser?</p>

	<p>Thankfully, we had an old NeXT box (almost but not quite the very one on
		which Tim Berners-Lee developed the WorldWideWeb application). </p>

	<figure>
		<img src="/images/production/nextbox.jpg" alt="NeXT Machine" />
	</figure>

	<h3>Oral Histories</h3>

	<p>We had lunch with <a
			href="https://en.wikipedia.org/wiki/Robert_Cailliau">Robert Cailliau</a>,
		early proponent of hypertext, designer of the WWW logo (which we're using as
		our favicon!), and collaborator with Tim Berners-Lee on developing the World
		Wide Web.</p>

	<figure>
		<img src="/images/production/robert.jpg" alt="Lunch with Robert Cailliau" />
	</figure>

	<figure>
		<img src="/images/production/robertlunch.jpg" alt="Robert Cailliau lunch" />
	</figure>

	<h3>Past Developers</h3>
	<p>Jean-Francois Groff hung out with us for a few days to help elucidate some
		of the design details of the WorldWideWeb browser, and to help us get some of
		the history straight. He wrote <a
			href="https://en.wikipedia.org/wiki/Libwww">libwww</a> with Tim Berners-Lee
		which became the core library for most modern web browsers. You can see
		libwww's influence in the chart at the bottom of our <a
			href="/history">History</a> page.</p>

	<figure>
		<img src="/images/production/jean1.jpg" alt="Jean-Francois Groff" />
	</figure>

	<figure>
		<img src="/images/production/jean2.jpg" alt="Jean-Francois Groff" />
	</figure>

</section>

<section>

	<h3>Decommissioned Accelerator</h3>
	<p>On our first day we were given a tour of the oldest, now decommissioned,
		accelerator, the (awesomely named) Synchrocyclotron.</p>

	<figure>
		<img src="/images/production/synchro.jpg" alt="the synchrocyclotron" />
	</figure>

	<p>Which features a beautiful set of maintenance tools:</p>

	<figure>
		<img src="/images/production/tools.jpg" alt="the synchrocyclotron toolset" />
	</figure>

	<p>That everyone lit with their phones when the lighting was too dim to snap a
		decent pic:</p>

	<figure>
		<img src="/images/production/lighting.jpg" alt="lighting the tools" />
	</figure>

	<h3>Data centers</h3>

	<p>Our workspace for the week was right inside the CERN datacenter, just across
		from the coffee machine. On the third day we were given a tour of the
		impressive facilities:</p>

	<figure class="double">
		<img src="/images/production/servers.jpg" alt="Visiting the server room" />
		<img src="/images/production/servers2.jpg" alt="Working" />
	</figure>

	<h3>Finally, progress</h3>
	<p>Eventually, finally, it was all working:</p>

	<figure>
		<img src="/images/production/working.jpg" alt="Working" />
	</figure>

	<h3>Team Diary</h3>
	<p>Team member Remy Sharp wrote up a detailed day-by-day diary of the process.
		Check it out here:</p>
	<ul>
		<li><a href="https://remysharp.com/2019/02/12/cern-day-1">Day 1</a></li>
		<li><a href="https://remysharp.com/2019/02/13/cern-day-2">Day 2</a></li>
		<li><a href="https://remysharp.com/2019/02/14/cern-day-3">Day 3</a></li>
		<li><a href="https://remysharp.com/2019/02/15/cern-day-4">Day 4</a></li>
		<li><a href="https://remysharp.com/2019/02/18/cern-day-5">Day 5</a></li>
	</ul>

</section>
