---
layout: baselayout
title: Timeline — WorldWideWeb NeXT Application
subhede: 1959 – 1989 – 2019
extrastyle: timeline.css
gridclass: nogrid
---

<script>document.documentElement.classList.add('loading')</script>

<div class="canvas">
  <div class="past">
    <section class="hypertext timeline">
      <h3 class="timeline__heading">Hypertext</h3>
      <ol class="timeline__list">
        <li class="h-event y1963">
          <a href="https://en.wikipedia.org/wiki/Hypertext" class="u-url">
            <time class="dt-start" datetime="1963">1963</time>
            <span class="p-name h-card">Ted Nelson</span>
          </a>
        </li>
        <li class="h-event y1967">
          <a href="https://en.wikipedia.org/wiki/Hypertext_Editing_System"
            class="u-url">
            <time class="dt-start" datetime="1967">1967</time>
            <abbr class="p-name" title="Hypertext Editing System">HES</abbr>
          </a>
        </li>
        <li class="h-event y1980">
          <a href="https://en.wikipedia.org/wiki/ENQUIRE" class="u-url">
            <time class="dt-start" datetime="1980">1980</time>
            <span class="p-name">ENQUIRE</span>
          </a>
        </li>
        <li class="h-event y1982">
          <a href="https://en.wikipedia.org/wiki/Literary_Machines"
            class="u-url">
            <time class="dt-start" datetime="1982">1982</time>
            <span class="p-name"><cite>Literary Machines</cite></span>
          </a>
        </li>
        <li class="h-event y1987">
          <a href="https://en.wikipedia.org/wiki/HyperCard" class="u-url">
            <time class="dt-start" datetime="1987-08">1987</time>
            <span class="p-name">Hyper<br>Card</span>
          </a>
        </li>
      </ol>
    </section><!-- /.timeline.hypertext -->
    <section class="networks timeline">
      <h3 class="timeline__heading">Networks</h3>
      <ol class="timeline__list">
        <li class="h-event y1964">
          <a
            href="http://www.davidpaulkirkpatrick.com/2012/08/15/dial-f-for-frankenstein-the-birth-of-the-world-wide-web/"
            class="u-url">
            <time class="dt-start" datetime="1964-01">1964</time>
            <span class="p-name"><cite>Dial F For Frankenstein</cite></span>
          </a>
        </li>
        <li class="h-event y1969">
          <a href="https://en.wikipedia.org/wiki/ARPANET" class="u-url">
            <time class="dt-start" datetime="1969-10-29">1969</time>
            <span class="p-name">ARPANET</span>
          </a>
        </li>
        <li class="h-event y1974">
          <a href="https://tools.ietf.org/html/rfc675" class="u-url">
            <time class="dt-start" datetime="1974-12">1974</time>
            <span class="p-name">Internet Protocol</span>
          </a>
        </li>
        <li class="h-event y1980">
          <a href="https://en.wikipedia.org/wiki/Usenet" class="u-url">
            <time class="dt-start" datetime="1980">1980</time>
            <span class="p-name">Usenet</span>
          </a>
        </li>
      </ol>
    </section><!-- /.timeline.networks -->
    <section class="formats timeline">
      <h3 class="timeline__heading">Formats</h3>
      <ol class="timeline__list">
        <li class="h-event y1969">
          <a
            href="https://en.wikipedia.org/wiki/IBM_Generalized_Markup_Language"
            class="u-url">
            <time class="dt-start" datetime="1969">1969</time>
            <abbr class="p-name" title="Generalized Markup Language">GML</abbr>
          </a>
        </li>
        <li class="h-event y1971">
          <a href="https://en.wikipedia.org/wiki/Man_page" class="u-url">
            <time class="dt-start" datetime="1971-11-03">1971</time>
            <kbd class="p-name">man</kbd>
          </a>
        </li>
        <li class="h-event y1981">
          <a href="https://en.wikipedia.org/wiki/Electronic_Document_System"
            class="u-url">
            <time class="dt-start" datetime="1981">1981</time>
            <abbr class="p-name" title="Electronic Document System">EDS</abbr>
          </a>
        </li>
        <li class="h-event y1986">
          <a
            href="https://en.wikipedia.org/wiki/Standard_Generalized_Markup_Language"
            class="u-url">
            <time class="dt-start" datetime="1986-10-01">1986</time>
            <abbr class="p-name"
              title="Standard Generalized Markup Language">SGML</abbr>
          </a>
        </li>
      </ol>
    </section><!-- /.timeline.formats -->
    <section class="computing timeline">
      <h3 class="timeline__heading">Computing</h3>
      <ol class="timeline__list">
        <li class="h-event y1968">
          <a href="https://en.wikipedia.org/wiki/NLS_%28computer_system%29"
            class="u-url">
            <time class="dt-start" datetime="1968-12-09">1968</time>
            <abbr class="p-name" title="oN-Line System">NLS</abbr>
          </a>
        </li>
        <li class="h-event y1973">
          <a href="https://en.wikipedia.org/wiki/Xerox_Alto" class="u-url">
            <time class="dt-start" datetime="1973-03-01">1973</time>
            <span class="p-name">Xerox Alto</span>
          </a>
        </li>
        <li class="h-event y1980">
          <a href="https://en.wikipedia.org/wiki/Smalltalk" class="u-url">
            <time class="dt-start" datetime="1980">1980</time>
            <span class="p-name">Smalltalk</span>
          </a>
        </li>
        <li class="h-event y1984">
          <a href="https://en.wikipedia.org/wiki/Macintosh" class="u-url">
            <time class="dt-start" datetime="1984-01-24">1984</time>
            <abbr class="p-name" title="Macintosh">Mac</abbr>
          </a>
        </li>
        <li class="h-event y1988">
          <a href="https://en.wikipedia.org/wiki/NeXT_Computer" class="u-url">
            <time class="dt-start" datetime="1988-10">1988</time>
            <span class="p-name">NeXT</span>
          </a>
        </li>
      </ol>
    </section><!-- /.computing timeline -->
  </div><!-- /.past -->
  <div class="present">
    <div class="h-event y1989">
      <a href="https://www.w3.org/History/1989/proposal.html" class="u-url">
        <time class="dt-start" datetime="1989-03-12">1989</time>
        <strong class="p-name">Information Management: A Proposal</strong>
      </a>
    </div>
  </div><!-- /.present -->
  <div class="future">
    <section class="browsers timeline">
      <h3 class="timeline__heading">Browsers</h3>
      <ol class="timeline__list">
        <li class="h-event y1990">
          <a href="https://www.w3.org/People/Berners-Lee/WorldWideWeb.html"
            class="u-url">
            <time class="dt-start" datetime="1990-12">1990</time>
            <abbr class="p-name" title="WorldWideWeb">WWW</abbr>
          </a>
        </li>
        <li class="h-event y1992">
          <a href="http://line-mode.cern.ch/" class="u-url">
            <time class="dt-start" datetime="1992">1992</time>
            <abbr class="p-name" title="Line Mode Browser">LMB</abbr>
          </a>
        </li>
        <li class="h-event y1993">
          <a href="https://en.wikipedia.org/wiki/Mosaic_(web_browser)"
            class="u-url">
            <time class="dt-start" datetime="1993">1993</time>
            <span class="p-name">Mosaic</span>
          </a>
        </li>
        <li class="h-event y1994">
          <a href="https://en.wikipedia.org/wiki/Netscape_Navigator"
            class="u-url">
            <time class="dt-start" datetime="1994">1994</time>
            <span class="p-name">Netscape</span>
          </a>
        </li>
        <li class="h-event y1995">
          <a href="https://en.wikipedia.org/wiki/Internet_Explorer"
            class="u-url">
            <time class="dt-start" datetime="1995">1995</time>
            <abbr class="p-name" title="Internet Explorer">IE</abbr>
          </a>
        </li>
        <li class="h-event y2002">
          <a href="https://en.wikipedia.org/wiki/Firefox" class="u-url">
            <time class="dt-start" datetime="2002-09-23">2002</time>
            <span class="p-name">Firefox</span>
          </a>
        </li>
        <li class="h-event y2003">
          <a href="https://en.wikipedia.org/wiki/Safari_(web_browser)"
            class="u-url">
            <time class="dt-start" datetime="2003-01-07">2003</time>
            <span class="p-name">Safari</span>
          </a>
        </li>
        <li class="h-event y2008">
          <a href="https://en.wikipedia.org/wiki/Google_Chrome" class="u-url">
            <time class="dt-start" datetime="2008-09-02">2008</time>
            <span class="p-name">Chrome</span>
          </a>
        </li>
      </ol>
    </section><!-- /.timeline.browsers -->
    <section class="servers timeline">
      <h3 class="timeline__heading">Servers</h3>
      <ol class="timeline__list">
        <li class="h-event y1991">
          <a href="https://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol"
            class="u-url">
            <time class="dt-start" datetime="1991">1991</time>
            <abbr class="p-name" title="HyperText Transfer Protocol">HTTP</abbr>
          </a>
        </li>
        <li class="h-event y1994">
          <a href="https://en.wikipedia.org/wiki/HTTPS" class="u-url">
            <time class="dt-start" datetime="1994">1994</time>
            <span class="p-name">HTTPS</span>
          </a>
        </li>
        <li class="h-event y1995">
          <a href="https://en.wikipedia.org/wiki/Apache_HTTP_Server"
            class="u-url">
            <time class="dt-start" datetime="1995">1995</time>
            <span class="p-name">Apache</span>
          </a>
        </li>
        <li class="h-event y1997">
          <a href="https://tools.ietf.org/html/rfc2068" class="u-url">
            <time class="dt-start" datetime="1997-01">1997</time>
            <span class="p-name">HTTP/1.1</span>
          </a>
        </li>
        <li class="h-event y2015">
          <a href="https://en.wikipedia.org/wiki/HTTP/2" class="u-url">
            <time class="dt-start" datetime="2015-05-14">2015</time>
            <span class="p-name">HTTP/2</span>
          </a>
        </li>
      </ol>
    </section><!-- /.timeline.server -->
    <section class="formats timeline">
      <h3 class="timeline__heading">Formats</h3>
      <ol class="timeline__list">
        <li class="h-event y1991">
          <a
            href="https://www.w3.org/History/19921103-hypertext/hypertext/WWW/MarkUp/Tags.html"
            class="u-url">
            <time class="dt-start" datetime="1991">1991</time>
            <abbr class="p-name" title="HyperText Markup Language">HTML</abbr>
          </a>
        </li>
        <li class="h-event y1995">
          <a href="https://www.w3.org/MarkUp/html-spec/html-spec_toc.html"
            class="u-url">
            <time class="dt-start" datetime="1995-09-02">1995</time>
            <span class="p-name">HTML 2.0</span>
          </a>
        </li>
        <li class="h-event y1997">
          <a href="https://www.w3.org/TR/2018/SPSD-html32-20180315/"
            class="u-url">
            <time class="dt-start" datetime="1997-01-14">1997</time>
            <span class="p-name">HTML 3.2</span>
          </a>
        </li>
        <li class="h-event y1999">
          <a href="https://www.w3.org/TR/html401/" class="u-url">
            <time class="dt-start" datetime="1999-12-24">1999</time>
            <span class="p-name">HTML 4.01</span>
          </a>
        </li>
        <li class="h-event y2014">
          <a href="https://www.w3.org/TR/html5/" class="u-url">
            <time class="dt-start" datetime="2014-10-28">2014</time>
            <span class="p-name">HTML5</span>
          </a>
        </li>
      </ol>
    </section><!-- /.timeline.formats -->
    <section class="timeline websites">
      <h3 class="timeline__heading">Websites</h3>
      <ol class="timeline__list">
        <li class="h-event y1994">
          <a
            href="https://web.archive.org/web/20060522143937/http://www.amazon.com/exec/obidos/subst/home/home.html/002-9382263-3415808"
            class="u-url">
            <time class="dt-start" datetime="1994-07-05">1994</time>
            <span class="p-name">Amazon</span>
          </a>
        </li>
        <li class="h-event y1998">
          <a
            href="https://web.archive.org/web/19981202230410/http://google.com/"
            class="u-url">
            <time class="dt-start" datetime="1998-09-04">1998</time>
            <span class="p-name">Google</span>
          </a>
        </li>
        <li class="h-event y1999">
          <a href="https://www.webdesignmuseum.org/gallery/napster-2000"
            class="u-url">
            <time class="dt-start" datetime="1999-06-01">1999</time>
            <span class="p-name">Napster</span>
          </a>
        </li>
        <li class="h-event y2001">
          <a
            href="https://web.archive.org/web/20010727112808/http://www.wikipedia.org/"
            class="u-url">
            <time class="dt-start" datetime="2001-01-15">2001</time>
            <span class="p-name">Wikipedia</span>
          </a>
        </li>
        <li class="h-event y2003">
          <a
            href="https://web.archive.org/web/20031004101518/https://myspace.com/"
            class="u-url">
            <time class="dt-start" datetime="2003-08-01">2003</time>
            <span class="p-name">Myspace</span>
          </a>
        </li>
        <li class="h-event y2005">
          <a
            href="https://web.archive.org/web/20050428014715/http://www.youtube.com/"
            class="u-url">
            <time class="dt-start" datetime="2005-02-14">2005</time>
            <span class="p-name">YouTube</span>
          </a>
        </li>
      </ol>
    </section><!-- /.timeline.websites -->
  </div><!-- /.future -->
</div><!-- /.canvas -->

<section>
  <h2>Background</h2>
  <div class="constrained">
    <p>March 2019 marks the 30<sup>th</sup> anniversary of the original proposal
      that would become the World Wide Web. A lot has happened in those thirty
      years. HTML has grown. HTTP has evolved. Browsers have changed.</p>
    <p>What about the thirty years before that? Tim Berners-Lee was influenced
      by ideas on hypertext. The World Wide Web couldn’t exist without the
      internet. And computers needed to be powerful enough, usable enough, and
      affordable enough to make a global collaborative information space a
      reality.</p>
    <p>This visualisation takes March 1989 as its centre point. Advances in
      hypertext, networks, computing, and formats are fired into
      <cite>Information Management: A Proposal</cite>. An explosion of browsers,
      formats, servers, and websites shoots out the other side. The result is
      something that looks a bit like <a
        href="https://home.cern/science/physics/higgs-boson">particles
        colliding</a>.</p>
    <img src="/images/particles_gray_light.jpg"
      alt="Particle collision at CERN" />
  </div><!-- /.constrained -->
</section>
<script>setTimeout(function(){document.documentElement.classList.remove('loading')},50)</script>
