/* --------------------------------------------------------------------
               			WWW Browser / NEXT
               		Styleguide Specific Styles

-------------------------------------------------------------------- */

#container {
	background: #FFF;
	margin: 5vmax 5%;
	padding: 2rem;
}
	#container > header {
		margin-bottom: 2rem;
	}

	#container > header h1 {
		margin-bottom: 2rem;
	}

#wrapper {margin-bottom: 2rem;}

p.baseline {
	font: normal 13px/1.4 "NeXT Oblique", Arial, Helvetica, "Helvetica Neue", Arial, sans-serif;
	margin-bottom: 2em;
}

h3 {
	margin-bottom: 1em;
}

nav.patterns {
	margin-left: 1rem;
}
	nav.patterns li + li {
		margin-top: 0.5em;
	}
	nav.patterns li ul {
		margin: 0.5em 1em;
	}

section {
	position: relative;
}

	section + hr {
		margin: 1rem 0;
	}
	section > h2 {
		font: 20px "NeXT Big_Bold", Helvetica, "Helvetica Neue", Arial, sans-serif;
		margin-bottom: 1rem;
	}

ul.palette {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
}
	ul.palette li {
		flex-basis: 45%;
		max-width: 70px;
		text-align: center;
		margin: 0 1rem 1rem 0;
	}
	ul.palette li::before {
		display: block;
		content: "";
		width: 70px;
		height: 70px;
		background-color: #000;
		margin-bottom: 0.5em;
		border-radius: 70px;
		border: 1px solid #000;
	}
	ul.palette li:nth-child(2)::before {
		background-color: #555;
	}
	ul.palette li:nth-child(3)::before {
		background-color: #AAA;
	}
	ul.palette li:nth-child(4)::before {
		background-color: #FFF;
	}

nav.floating-menu {
	position: static;
}

div.demo {
	margin-bottom: 2rem;
}
	div.demo.staged {
		background-color: #AAA;
		padding: 1rem;
	}

div.panel + div.panel {margin-top: 2rem;}

div.webview div.r2l-content {height: 200px;}

ul.thumbs {
	display: flex;
	list-style-type: none;
}
	ul.thumbs li {
		margin-right: 0.5em;
	}

div.info {
	max-width: 35em;
	margin-bottom: 2rem;
}

/* ------- MEDIA QUERIES ------- */

@media screen and (min-width: 800px) {
	#container {
		display: flex;
	}
	#container > header {
		flex-basis: 25%;
	}
	#wrapper {
		flex: 1;
		margin-left: 5%;
	}
}
