.webview {
  font-size: 0.8em;

  [contenteditable] { outline: none; }

  .controls h2 {
    flex: 1;
  }

  .r2l-content {
    overflow: auto;
    height: 60%;
    max-height: 90vh;
    width: 500px;
  }
}

/* Style definitions from default.style
----------------------------------------
Normal <P> 0 Helvetica 12.0     1
    90 90   14.0 3.0    0    0 14    0
Address <P> 0 Helvetica-Oblique 12.0     1
    90 90   14.0 3.0    1    0 14    0
Heading1 <H1> 0 Helvetica-Bold 18.0    1
    0 0    18.0 3.0    2    0 36    0
Heading2 <H2> 0 Helvetica-Bold 14.0    1
    0 0    14.0 3.0    0    14 14    0
Heading3 <H3> 0 Helvetica-Oblique     14.0    1
    10 10     14.0 3.0    0    14 14    0
Heading4 <H4> 0 Helvetica-Bold 12.0    1
    20 20     14.0 3.0    0    14 14    0
Heading5 <H5> 0 Helvetica-Bold-Oblique 12.0    1
    30 30     14.0 3.0    0    14 14    0
Heading6 <H6> 0 Helvetica-Bold 12.0    1
    40 40     14.0 3.0    0    14 14    0

List <LI> 0 Helvetica 12.0            1
        100 130    14 3        0     0 14        2
    0 130    0 300

Glossary <DL> 0 Helvetica 12.0        1
        20 200    14 3        0    0 14        3
    0 200    0 300 0 400

Example <XMP> 0 Ohlfs 10.0        1
    0 0    14 3        0    0 0        9
    0 48    0 96    0 144    0 192    0 240    0 288    0 336    0 384    0 432

Listing <LISTING> 0 Ohlfs 9.0        1
    0 0    14 3        0    0 0        11
    0 43.2    0 86.4    0 129.6    0 172.8    0 216    0 259.2    0 302.4    0 345.6    0 388.8    0 432
    0 475.2
*/

.webview .content {
  font-size: 13px; /* needs to be 13px to display correctly */
  line-height: 14px;
  -webkit-font-smoothing: none;
  margin: 1.5em 0 0 90px;

  * {
	  font-size: inherit;
	  line-height: inherit;
	  -webkit-font-smoothing: none;
  }

  nextid {
    height: 1.2em;
  }

  h1 {
    /* default: Helvetica-Bold 18pt, 0 indent, 18 line height,
	3.0 descent line, center, 0 space before, 36 space after */
    margin: 1.1em 0 2.8em -90px;
    font-family: 'NeXT Big_Bold', Helvetica, 'Helvetica Neue', Arial, sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  h2 {
    /* default: Helvetica-Bold 14pt, 0 indent, 14 line height,
	3.0 descent line, 14 space before, 14 space after */
    margin: 1.5em 0 1.5em -90px;
    font-family: 'NeXT Bold_14', Helvetica, 'Helvetica Neue', Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
  }

  h3 {
    /* default: Helvetica-Oblique 14pt, 10 indent, 14 line height,
	3.0 descent line, 14 space before, 14 space after */
    font-family: 'NeXT Oblique_16', Helvetica, 'Helvetica Neue', Arial, sans-serif;
    margin: 1em 0 1em -80px;
    font-style: normal;
    font-size: 14px;
  }

  h4 {
    /* default: Helvetica-Bold 12pt, 20 indent, 14 line height,
	3.0 descent line, 14 space before, 14 space after */
    font-family: 'NeXT_Bold', Helvetica, 'Helvetica Neue', Arial, sans-serif;
    margin: 1em 0 1em -70px;
    font-weight: normal;
  }

  h5 {
    /* default: Helvetica-Bold 12pt, 30 indent, 14 line height,
	3.0 descent line, 14 space before, 14 space after */
    font-family: 'NeXT_Bold', Helvetica, 'Helvetica Neue', Arial, sans-serif;
    margin: 1em 0 1em -60px;
    font-weight: normal;
  }

  h6 {
    /* default: Helvetica-Bold 12pt, 40 indent, 14 line height,
	3.0 descent line, 14 space before, 14 space after */
    font-family: 'NeXT_Bold', Helvetica, 'Helvetica Neue', Arial, sans-serif;
    margin: 1em 0 1em -50px;
    font-weight: normal;
  }

  a[href] {
    text-decoration: underline;
    color: inherit;
  }
  a:active[href] {
    background-color:#ccc;
  }

  p {
    margin-top: 1.5em;
    /* paragraph has one line after... but <P> was used more as a
	   separator than a wrapper... so using margin-top instead    */
  }

  li {
    margin: 1em 0 1em 3.8em;
    list-style-type: "-              ";
  }

  dl {
    margin: 1em 0 1em -70px;
  }
  dl + h2 {
    margin-top: 4em;
  }

  /* Definition lists */
  dt,
  dd {
    display: inline-block;
    vertical-align: top;
  }

  dt:not(:first-of-type),
  dd:not(:first-of-type) {
    margin-top: 1.5em;
  }

  dt {
    width: 25ch;
  }

  dd {
    width: 27.5em;
    width: 50ch;
  }

  xmp {
    display: block;
    white-space: pre;
  }

  address {
    display: block;
    font-style: italic;
    text-align: right;
  }

  /* Even though the code for styling highlighted phrases isn't complete,
     we're including those selectors here and treating them like WorldWideWeb did */

  hp1, i, em {
    font-style: normal;
  }

  hp2, b, strong {
    font-weight: normal;
  }

  hp3 {
    font-style: normal;
    font-weight: normal;
  }
}


/* project.style
Normal <P> 0 Helvetica 18.0 		1
	30 30	18.0 3.0 	0 	18 18	0
Address <P> 0 Helvetica-Oblique 18.0 		1
	90 90	18.0 3.0 	1 	0 12	0
Heading1 <H1> 0 Helvetica-Bold 36.0 	1
	0 0	18.0 3.0 	2	0 18	0
Heading2 <H2> 0 Helvetica-Bold 24.0 	1
	0 0	14.0 3.0 	0	24 0	0
Heading3 <H3> 0 Helvetica-Oblique 18.0 	1
	10 10 	14.0 3.0 	0	14 14	0
*/
.webview .content.project {
  font-size: 18px;
  line-height: 18px;
  margin: 1.5em 0 0 30px;

  h1 {
    margin: 1.1em 0 2.8em -30px;
    font-size: 36px;
  }

  h2 {
    margin: 1.5em 0 1.5em -30px;
    font-size: 24px;
  }

  h3 {
    margin: 1em 0 1em -20px;
    font-size: 18px;
  }
}

/* paper.style
15
Normal <P> 0 Times-Roman 10.0 		1
	90 90	12.0 3.0 	0 	0 12	0
Address <P> 0 Times-Italic 10.0 		1
	90 90	12.0 3.0 	1 	0 12	0
Heading1 <H1> 0 Helvetica-Bold 18.0 	1
	0 0	18.0 3.0 	2	0 18	0
Heading2 <H2> 0 Helvetica-Bold 14.0 	1
	0 0	14.0 3.0 	0	14 14	0
Heading3 <H3> 0 Helvetica-Bold 12.0 	1
	10 10 	14.0 3.0 	0	14 14	0
Heading4 <H4> 0 Helvetica-Bold 12.0 	1
	20 20 	14.0 3.0 	0	14 14	0
Heading5 <H5> 0 Helvetica-Bold 12.0 	1
	30 30 	14.0 3.0 	0	14 14	0
Heading6 <H6> 0 Helvetica-Bold 12.0 	1
	40 40 	14.0 3.0 	0	14 14	0

Italic <HP1> 0 Times-Italic 10.0	0

Bold <HP2> 0	Times-Bold	10.0	0

Bold-Italic <HP3> 0	Helvetica-Bold-Oblique 12.0	0

List <LI> 0 Times-Roman 10.0			1
        100 115	14 3		0 	0 10		2
	0 115	0 300

Glossary <DL> 0 Times-Roman 10.0		1
        50 200	14 3		0	0 14		3
	0 200	0 300 0 400

Example <XMP> 0 Courier 10.0		1
	0 0	14 3		0	0 0		9
	0 48	0 96	0 144	0 192	0 240	0 288	0 336	0 384	0 432

Listing <LISTING> 0 Courier 9.0		1
	0 0	14 3		0	0 0		11
	0 43.2	0 86.4	0 129.6	0 172.8	0 216	0 259.2	0 302.4	0 345.6	0 388.8	0 432
	0 475.2
*/
@media print {
	.webview .content {
	  font-family: Times, "Times New Roman", serif;
	  font-size: 10pt;
	  line-height: 12pt;
	  -webkit-font-smoothing: normal;
	  margin: 1.5em 0 0 90px;

	  h1, h2, h3, h4, h5, h6 {
	    font-family: Helvetica, "Arial Narrow", sans-serif;
	  }

	  dl {
	    margin: 1em 0 1em -40px;
	  }

	  xmp {
	    font-family: Courier, "Courier New", monospace;
	    white-space: pre;
	  }
	}
}
